extends ./layout
 
block content
    div.div-box-top
    h1=title
    div.container
        div.default-text
            h1.h2 Advanced Cognitive Search for Existing U.S. Patents
            br
            p.header-text
              | Enter your claim text below and we'll use natural language processing, 
              | machine learning, and cognitive processing to find relevant matching 
              | concepts for the claim text you enter. This will allow you to find patents
              | that are of the same concept as yours but might use different language
              | to describe it.
              br
              br
              | Simply start typing in the box and we will start searching for relevant
              | patents that match yours.
        div.default-text
            form.form-horizontal(role='form')
                  div.form-group.form-group-lg
                    .col-sm-12
                        .input.input-lg#body-of-text.form-control(size='', style='height:100%', contenteditable='true')
            ._content--loading
                img.image-responsive.center-block(src='images/loading-gif.gif', alt='', height="100" width="100")
            #hyena-panel-header
            #hyena-panel-list

            


              
              
              
    
                