doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/custom.css')
  body
    block content
    
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/hyena.js')
    script(type='text/javascript', src='/js/citypeahead.js')
    script(type='text/javascript', src='/js/knockout.js')
    script(type='text/javascript', src='/js/jquery.jadedom.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')